

nav {
    width: 100%;
}

.NavList {
    display: flex;

    list-style: none;

}

.ActiveTab {
    background-color: black;
    color: white;
}

.NavList li {
    color: rgb(0, 0, 0);
    background-color: rgb(247, 247, 247);

    text-transform: capitalize;
    padding: 10px 5px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px 5px 0px 0px;
}

.NavList .ActiveTab {
    background-color: black;
    color: white;
}

.Tab {
    display: block;
    height: auto;
    overflow-y: scroll;
}

.Tab > div {
    overflow-y: scroll;
}

